<table class="table table-hover table-striped table-info table-bordered border-dark">
                <thead class="table-dark">
                    <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Created at</th>
                    </tr>
                </thead>

            <tbody>
                    <tr>
                            <td><%= @user.id %></td>
                            <td><%= @user.email %></td>
                            <td><%= @user.created_at %></td>
                    </tr>
    
            </tbody>
</table>